<footer class="site-footer">
  <div class="footer-info">
    &copy; 2026 {{ site.title }}.
  </div>
  <div class="footer-links">
    <a href="#">Instagram</a> &nbsp;&nbsp; <a href="#">Twitter</a> &nbsp;&nbsp; <a href="#">YouTube</a>
  </div>
</footer>
